<div class="flex justify-center w-120">
  <%= form_with(model: @task) do |f| %>
    <%= render 'shared/error', object: task %>
    <div class="flex grid grid-cols-1">
      <div class="mb-8 grid">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="mb-8 grid">
        <%= f.label :room %>
        <%= f.select :room, Task::ROOMS, prompt: "Pick one" %>
      </div>

<!--      <div class="mb-8 grid">-->
        <%#= f.label :allowance %>
        <%#= f.number_field :allowance %>
<!--      </div>-->

      <div class="mb-8 grid">
        <%= f.label :assigned %>
        <%= f.select :assigned, Task::PEOPLE, prompt: "Pick one" %>
      </div>

      <div class="flex grid items-center justify-items-center">
        <%= f.submit class: "bg-blue-300 w-40 m-4 font-bold rounded" %>
      </div>
    </div>
  <% end %>
</div>

