<h1 class="text-2xl"><%= @user.name %>'s account</h1>
<section>
  <ul>
    <li><h6><%= @user.name %></h6></li>
    <li><%= @user.username %></li>
    <li><%= @user.email %></li>
  </ul>
</section>

<section>
  <%= link_to "Edit", edit_user_path(@user) %>
  <%= link_to "Delete", @user, data:
    {
      turbo_method: :delete,
      turbo_confirm: "Delete this account?"
    } %>
</section>
