<!DOCTYPE html>
<html>
  <head>
    <title>ToDoList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <header>
    <%= render "layouts/header" %>
  </header>

  <content class="p-4 grid">
    <%= render 'layouts/flash', class: "flex justify-center" %>
    <%= yield %>
  </content>

  <footer class="footer p-4 grid bg-slate-400 justify-items-center">
    <div class="text-l">Version 1</div>
  </footer>

  </body>
</html>
